@model Clase2.IntroMVC.Entidades.Pelicula
@{
}

<h1>Agregar Pelicula</h1>
<form action="/Peliculas/Agregar" method="post">

    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" id="Nombre" name="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Descripcion">Descripcion</label>
        <input type="text" id="Descripcion" name="Descripcion" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Genero">Genero</label>
        <input type="text" id="Genero" name="Genero" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Año">Año</label>
        <input type="number" id="Año" name="Año" />
    </div>
    <div class="form-group">
        <label for="Presupuesto">Presupuesto</label>
        <input type="number" id="Presupuesto" name="Presupuesto" />
    </div>
    <div class="form-group">
        <label for="Recaudacion">Recaudacion</label>
        <input type="number" id="Recaudacion" name="Recaudacion" />
    </div>
    <div class="form-group">
        <label for="NominadaAlOscar">Nominada a el Oscar</label>
        <input type="checkbox" id="NominadaAlOscar" name="NominadaAlOscar" />
    </div>
    <div class="form-group">
        <label for="Netflix">Esta En Netflix</label>
        <input type="checkbox" id="EstaEnNetflix" name="EstaEnNetflix" />
    </div>
    <div class="form-group">
        <label for="Disney">Esta En Disney</label>
        <input type="checkbox" id="EstaEnDisney" name="EstaEnDisney" />
    </div>
    <div class="form-group">
        <label for="Amazon">Esta En Amazon</label>
        <input type="checkbox" id="EstaEnAmazon" name="EstaEnAmazon" />
    </div>
    <div class="form-group">
        <label for="StarPlus">Esta En StarPlus</label>
        <input type="checkbox" id="EstaEnStarPlus" name="EstaEnStarPlus" />
    </div>
    <div class="form-group">
        <label for="Hbo">Esta En HBO</label>
        <input type="checkbox" id="EstaEnHBO" name="EstaEnHBO" />
    </div>

    <input type="submit" value="Agregar" class="btn btn-primary" />
</form>